<mat-toolbar  color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="subscribeToNotifications()">
            <mat-icon aria-label="notifications off">notifications_off</mat-icon>
        </button>
        <button mat-icon-button (click)="subscribeToNotifications()">
            <mat-icon aria-label="notifications">notifications</mat-icon>
        </button>        
        <button mat-button [matMenuTriggerFor]="menu">            
            <span class="ml-2">{{user}}</span>
            <mat-icon aria-label="account" class="user-icon">account_circle</mat-icon>
          </button>
        <mat-menu #menu="matMenu">            
            <button mat-menu-item>                
                <span class="sign-out-span">Sign out</span>
            </button>            
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<main>
    <app-products></app-products>    
</main>

