<mat-toolbar  color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="spacer"></span>        
        <button mat-icon-button (click)="subscribeToNotifications()" *ngIf="Authenticated && CanSubscribe && !Subscribed">
            <mat-icon aria-label="notifications">notifications</mat-icon>
        </button>        
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="Authenticated">            
            <span class="ml-2">{{userName}}</span>
            <mat-icon aria-label="account" class="user-icon">account_circle</mat-icon>
          </button>
        <mat-menu #menu="matMenu">            
            <button mat-menu-item (click)="logout()">                
                <span class="sign-out-span">Sign out</span>
            </button>            
        </mat-menu>
        <button mat-button (click)="login()" *ngIf="!Authenticated">            
            <span class="ml-2">Sign in</span>            
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<main>
    <app-products *ngIf="Authenticated"></app-products>    
</main>

